.header {
    max-width: 1280px;
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (min-width: 1280px) {
    .header {
      margin-bottom: 50px;
    }
  }
  
  .header__logo {
    width: 90px;
    height: 90px;
    border: 1px solid rgb(118, 118, 118);
    color: rgb(118, 118, 118);
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
  }